<!DOCTYPE html>
<html>
<head>
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>

    <body>
        <h2>Signup Page</h2><br>
        <div class="login">
        <form id="signupform" action="/signup" method="POST">

            <label><b>First Name
            </b>
            </label>
            <input type="text" name="firstname" id="Uname" placeholder="First Name">
            <br>   <br>

            <label><b>Last Name
            </b>
            </label>
            <input type="text" name="lastname" id="Uname" placeholder="Last Name">
            <br>  <br>


            <label><b>User Name
            </b>
            </label>
            <input type="text" name="username" id="Uname" placeholder="Username">
            <br><br>
            <label><b>Password
            </b>
            </label>
            <input type="Password" name="password" id="Pass" placeholder="Password">
            <br><br>
            <input type="submit" name="log" id="log" value="Sign up In Here">
            <br><br>
        </form>
    </div>
</body>
</html>